{% load static %}
    <header class="grid items-center h-20 mb-10">
        <nav class="flex items-center justify-between">
            <a href="{% url 'index' %}" class="block text-4xl font-semibold font-yedstreet">csw</a>
            <ul class="flex items-center list-none">
                <li><img src="{% static 'img/icon/url05.png' %}" alt="url_shortener" onclick="window.location.href='#'" class="mx-4 cursor-pointer h-9"></li>
                <li><img src="{% static 'img/icon/job-post.png' %}" alt="crawling_jd" onclick="window.location.href='#'" class="mx-4 cursor-pointer h-9"></li>
                {% if login == undefined %}
                <li><img src="{% static 'img/icon/login01.png' %}" alt="login" onclick="window.location.href='#'" class="mx-4 cursor-pointer h-9"></li>
                {% else %}
                <li><img src="{% static 'img/icon/user01.png' %}" alt="my_info" onclick="window.location.href='#'" class="mx-4 cursor-pointer h-9"></li>
                {% endif %}
            </ul>
        </nav>
    </header>


