{% load static %}
<header class="fixed z-10 grid h-20 mb-5 bg-white border-b-2 border-black screen-width sm:mb-10">
    <nav class="flex items-center justify-between">
        <a href="{% url 'index' %}"
           class="block text-4xl font-bold font-yedstreet hover:text-blue-700 header-logo"
           id="header_logo">csw</a>
        <div class="flex items-center list-none header-btn-wrap">
            {% if user.is_admin %}
                <div class="relative inline-block text-left">
                    <div>
                        <img src="{% static 'img/icon/admin02.png' %}"
                             alt="admin"
                             class="h-7 min-[800px]:h-10 mx-3 min-[800px]:mx-4 cursor-pointer header-btn"
                             id="header_admin_btn">
                    </div>
                    <div class="absolute z-10 items-center hidden bg-white rounded-md shadow-lg -right-16 w-44 justify-evenly top-11 h-14 ring-1 ring-black ring-opacity-5 focus:outline-none admin-menu"
                         id="header_admin_menu"
                         role="menu"
                         aria-orientation="vertical"
                         aria-labelledby="menu-button"
                         tabindex="-1">
                        <div class="flex items-center justify-evenly admin-btn-wrap" role="none">
                            <img src="{% static 'img/icon/admin_user02.png' %}"
                                 alt="admin_user"
                                 class="h-7 min-[800px]:h-10 mx-4 cursor-pointer header-btn"
                                 id="header_admin_user_btn">
                            <img src="{% static 'img/icon/admin_url02.png' %}"
                                 alt="admin_url"
                                 class="h-7 min-[800px]:h-10 mx-4 cursor-pointer header-btn"
                                 id="header_admin_url_btn">
                            <img src="{% static 'img/icon/admin_job02.png' %}"
                                 alt="admin_job"
                                 class="h-7 min-[800px]:h-10 mx-4 cursor-pointer header-btn"
                                 id="header_admin_job_btn">
                        </div>
                    </div>
                </div>
            {% endif %}
            <img src="{% static 'img/icon/url05.png' %}"
                 alt="url_shortener"
                 onclick="window.location.href='{% url "url" %}'"
                 class="mx-3 min-[800px]:mx-4 cursor-pointer h-6 min-[800px]:h-9 header-btn"
                 id="header_url_btn">
            <img src="{% static 'img/icon/job-post01.png' %}"
                 alt="crawling_jd"
                 onclick="window.location.href='{% url "job" %}'"
                 class="mx-3 min-[800px]:mx-4 cursor-pointer h-6 min-[800px]:h-9 header-btn"
                 id="header_jd_btn">
            {% if user == undefined %}
                <img src="{% static 'img/icon/login01.png' %}"
                     alt="login"
                     onclick="window.location.href='{% url "login" %}'"
                     class="mx-3 min-[800px]:mx-4 cursor-pointer h-6 min-[800px]:h-9 header-btn"
                     id="header_login_btn">
            {% else %}
                <img src="{% static 'img/icon/user01.png' %}"
                     alt="my_info"
                     class="mx-3 min-[800px]:mx-4 cursor-pointer h-6 min-[800px]:h-9 header-btn"
                     id="header_my_info_btn">
            {% endif %}
        </div>
    </nav>
</header>
