{% extends "url/base.html" %}
{% load static %}

{% block title %}
    Url
{% endblock %}

{% block style%}
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker.min.css">
    <link href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" rel="stylesheet" />
{% endblock %}

{% block inner_content %}
<div class="flex flex-col items-start justify-between my-2 title-wrap">
    <div class="flex justify-between w-full make-title-wrap">
        <div class="font-semibold title url-make-title">URL Shortener</div>
        <img src="{% static 'img/icon/submit01.png' %}" alt="submit" class="block h-12 cursor-pointer" tabindex="5" id="make_btn_url">
    </div>
    <form class="flex flex-col w-full mt-4 url-form sm:flex-row">
        <div class="flex mb-4 input-first sm:w-3/5">
            <div class="w-full mx-2 form-field">
                <div class="flex label-wrap">
                    <label for="url-target" class="block mb-3 mr-2 font-semibold">Target Url</label>
                    <div class="self-center hidden text-sm text-[red] make-url-error"></div>
                </div>
                <input type="text" id="url_target" name="url-target" autocomplete="off" autofocus tabindex="1" class="block w-full p-1 outline-none"
                placeholder="Target Url">
            </div>
            {% if user.url.license > 1 %}
                <div class="mx-2 form-field">
                    <label for="url-nickname" class="block mb-3 font-semibold">Nickname</label>
                    <input type="text" id="url_nickname" name="url-nickname" autocomplete="off" autofocus tabindex="2" class="block w-full p-1 outline-none"
                    placeholder="Nickname">
                </div>
            {% endif %}
        </div>
        <div class="flex mb-4 sm:w-2/5 input-second">
            <div class="w-3/5 mx-2 form-field">
                <label for="url-expire" class="block mb-3 font-semibold">Expire</label>
                <div class="flex items-center date-wrap">
                    <input type="date" id="url_expire" name="url-expire" autocomplete="off" autofocus tabindex="3" class="p-1 outline-none w-28"
                    placeholder="Expire">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden w-6 h-6 p-1 cursor-pointer" id="clearDate">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
            </div>
            <div class="w-2/5 mx-2 form-field">
                <label for="url-access" class="block mb-3 font-semibold">Access</label>
                <select id="url_access" name="url-access" class="w-24 p-1 outline-none appearance-none cursor-pointer" autofocus tabindex="4" placeholder="Access">
                    <option value="1" class="select-option">Public</option>
                    <option value="2" class="select-option">Private</option>
                    <option value="3" class="select-option">Secret</option>
                </select>
            </div>
        </div>
    </form>    
</div>
<hr class="mt-5 mb-7 hr">
<div class="list-wrap h-[600px]">
    <div class="flex items-center justify-between mb-5 title-wrap">
        <div class="flex items-center list-title-wrap">
            <div class="mr-4 title url-list-title">URL List</div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#373737" class="w-5 h-5 hover:stroke-[#d9d9d9] cursor-pointer refresh-list-btn">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
            </svg>
        </div>
        <div class="flex page-btn-wrap" id="page_btn_wrap"></div>
        <div class="count-wrap">
            <div class="flex items-center justify-end available-total-count">
                <div class="font-semibold">{{ available_url_cnt }} URLs</div>
                <div class="ml-2 text-sm">Available</div>
            </div>
            <div class="flex items-center justify-end current-total-count">
                <div class="font-semibold total-count"></div>
                <div class="ml-2 text-sm">Created</div>
            </div>
        </div>
    </div>
    <div class="flex items-center w-full h-10 font-semibold text-white bg-[#373737] content md:flex-row my-2 px-2">
            <div class="px-1 url-list-1 target-url">Target Url</div>
            <div class="px-1 url-list-2 shortened-url">Shortened Url</div>
            <div class="px-1 url-list-3 nickname">Nickname</div>
            <div class="px-1 truncate url-list-4 access">Access</div>
            <div class="px-1 truncate url-list-4 clicked">Click</div>
            <div class="px-1 truncate url-list-5 open">Open</div>
            <div class="px-1 truncate url-list-5 copy">Copy</div>
            <div class="px-1 truncate url-list-4 remove">Remove</div>
    </div>
    <div class="self-center hidden text-sm text-[red] list-url-error"></div>
    <div class="mb-2 text-sm md:text-base" id="url_list">
        <div class="url-link"></div>
    </div>
</div>
{% include "url/detail.html" %}
{% endblock %}

{% block include_js %}
<script type="text/javascript">
    const url_license = {{ user.url.license|escapejs }};
    const available_url_cnt = {{ available_url_cnt|escapejs }};
  </script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr" defer></script>
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"></script>
<script type="module" src="{% static 'js/url.js' %}" defer></script>
{% endblock %}