{% extends "url/permission/base.html" %}
{% load static %}

{% block title %}
    Secret URL
{% endblock %}

{% block sub-title %}
    Secret URL
{% endblock %}

{% block inner_content %}
<div class="flex items-start justify-between m-2 title-wrap">
    <div class="flex items-end title-content">
        <div class="min-[500px]:text-xl title-label">Shortened URL :&nbsp;</div>
        <div class="font-semibold min-[500px]:text-2xl url-path cursor-pointer hover:text-[blue]">{{ url_path }}</div>
    </div>
</div>
<hr class="my-5">
<div class="flex justify-center flex-col font-semibold mx-2 my-6 min-[500px]:flex-row text-[yellow] title message">
    <div class="flex justify-center first-phrase">Not Allowed &nbsp;</div>
    <div class="flex justify-center second-phrase">to access this URL</div>
</div>
{% endblock %}

{% block include_js %}
<script type="text/javascript">
    const urlPath = "{{ url_path|escapejs }}";
</script>
{% endblock %}
{% block script %}
<script type="module" src="{% static 'js/secret.js' %}" defer></script>
{% endblock %}