<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="flex flex-col justify-center w-full p-2 border hover:shadow-lg post-job-card-wrap-1"
             id="post_job_card_wrap_1"
             style="border: 1px solid rgb(55, 55, 55)">
            <div class="p-2 h-10 overflow-hidden hover:underline cursor-pointer hover:text-[#66FF99] font-semibold bg-[#373737] text-white post-job-position-1"
                 id="post_job_position_1"
                 title="Open Modal for Detail Information"
                 style="text-overflow: ellipsis;
                        white-space: nowrap">Sample</div>
            <div class="flex truncate justify-center my-2 w-1/2 cursor-pointer border-b border-[#373737] hover:underline font-semibold post-job-company-1"
                 id="post_job_company_1"
                 title="Search for the company on JobPlanet"
                 style="padding-bottom: 8px">Sample</div>
            <div class="grid grid-cols-1 grid-rows-3 post-job-body-wrap-1"
                 id="post_job_body_wrap_1">
                <div class="flex h-20 my-2 text-sm post-job-task-wrap-1"
                     id="post_job_task_wrap_1">
                    <div class="h-full pr-2 border-r border-[#373737] font-bold post-job-task-label-1"
                         id="post_job-task-label-1"
                         style="width: 100px">Sample</div>
                    <div class="h-full overflow-hidden post-job-task-1"
                         id="post_job_task_1"
                         style="white-space: pre;
                                text-overflow: ellipsis;
                                flex: 1 1 0%;
                                padding-left: 8px">Sample</div>
                </div>
                <div class="flex h-20 my-2 text-sm post-job-requirement-wrap-1"
                     id="post_job_requirement_wrap_1">
                    <div class="h-full pr-2 border-r border-[#373737] font-bold post-job-requirement-label-1"
                         id="post_job-requirement-label-1"
                         style="width: 100px">Sample</div>
                    <div class="h-full overflow-hidden post-job-requirement-1"
                         id="post_job_requirement_1"
                         style="white-space: pre;
                                text-overflow: ellipsis;
                                flex: 1 1 0%;
                                padding-left: 8px">Sample</div>
                </div>
                <div class="flex h-20 my-2 text-sm post-job-preference-wrap-1"
                     id="post_job_preference_wrap_1">
                    <div class="h-full pr-2 border-r border-[#373737] font-bold post-job-preference-label-1"
                         id="post_job-preference-label-1"
                         style="width: 100px">Sample</div>
                    <div class="h-full overflow-hidden post-job-preference-1"
                         id="post_job_preference_1"
                         style="white-space: pre;
                                text-overflow: ellipsis;
                                flex: 1 1 0%;
                                padding-left: 8px">Sample</div>
                </div>
            </div>
            <div class="flex flex-col items-center my-1 xl:flex-row post-bottom-wrap-1"
                 id="post_bottom_wrap_1">
                <div class="flex items-center w-full xl:w-auto post-region-wrap-1"
                     id="post_region_wrap_1">
                    <div class="w-8 mr-2 font-semibold post-job-region-1"
                         id="post_job_region_1">Sample</div>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5 mr-2 cursor-pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z">
                        </path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5 mr-2 cursor-pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z">
                        </path>
                    </svg>
                </div>
                <div class="flex items-center w-full mt-2 overflow-x-scroll scrollbar-hide xl:mt-0 xl:w-auto post-skill-wrap-1"
                     id="post_skill_wrap_1">
                    <div class="p-1 mx-1 text-xs text-white rounded cursor-pointer whitespace-nowrap hover:bg-[#373737] bg-[#d9d9d9] post-skill-1-1"
                         id="post_skill_1_1"
                         style="background-color: rgb(217, 217, 217)">Test</div>
                    <div class="p-1 mx-1 text-xs text-white rounded cursor-pointer whitespace-nowrap hover:bg-[#d9d9d9] bg-[#373737] post-skill-1-2"
                         id="post_skill_1_2"
                         style="background-color: rgb(217, 217, 217)">Test</div>
                </div>
            </div>
        </div>
        <div class="flex items-center font-semibold cursor-pointer hover:text-[#373737] hover:border-none hover:bg-white justify-center border border-white w-10 p-2 text-sm setting-modal-post-save-btn"
             id="setting_modal_post_save_btn">SAVE</div>
    </body>
</html>
