{% load static %}
<section class="relative z-10 hidden w-full text-white setting-modal"
         id="setting_modal"
         aria-labelledby="modal-setting"
         role="dialog"
         aria-modal="true">
    <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"></div>
    <div class="fixed left-1/2 top-[50%] translate-x-[-50%] translate-y-[-50%] z-10 p-3 lg:p-5 bg-black screen-width setting-modal-wrap">
        <div class="setting-title-wrap">
            <div class="flex items-start justify-between mb-2 setting-modal-header-wrap">
                <div class="pb-4 pr-6 text-xl font-semibold border-b border-white lg:mb-4 md:text-3xl setting-modal-header-title"
                     id="setting_modal_header">Setting</div>
                <div class="flex items-center justify-center setting-modal-btn-wrap"
                     id="setting_modal_btn_wrap"></div>
            </div>
        </div>
        <div class="h-[600px] overflow-y-scroll scrollbar-hide  setting-modal-body-wrap"
             id="setting_modal_body_wrap">
            <div class="flex flex-col items-center justify-start w-full my-6 lg:flex-row setting-modal-post-wrap"
                 id="setting_modal_post_wrap">
                <div class="w-[140px] pb-4 lg:pb-0 pr-4 mr-[calc(100%-144px)] lg:mr-0 font-semibold text-xl border-b text-[#eee6c4] lg:border-b-0 border-white post-label"
                     id="setting_modal_post_label">Post</div>
                <div class="flex w-full pt-4 whitespace-pre border-white lg:pl-4 lg:flex-1 lg:border-l lg:pt-0 post-data"
                     id="setting_modal_post_data">
                    <div class="grid flex-1 grid-cols-2 min-[800px]:grid-cols-3 gap-y-4 text-black setting-modal-post-select-wrap"
                         id="setting_modal_post_select_wrap">
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-post-filter-site"
                                title="select Site"
                                id="setting_modal_post_filter_site"
                                name="setting-modal-post-filter-site"
                                tabindex="1"
                                placeholder="Site"
                                autofocus=""
                                disabled></select>
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-post-filter-group"
                                title="select Group"
                                id="setting_modal_post_filter_group"
                                name="setting-modal-post-filter-group"
                                tabindex="1"
                                placeholder="Group"
                                autofocus=""></select>
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-post-filter-category"
                                title="select Category"
                                id="setting_modal_post_filter_category"
                                name="setting-modal-post-filter-category"
                                tabindex="2"
                                placeholder="Category"
                                autofocus=""></select>
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-post-filter-skill"
                                title="select Skill"
                                id="setting_modal_post_filter_skill"
                                name="setting-modal-post-filter-skill"
                                tabindex="1"
                                placeholder="SKill"
                                autofocus=""></select>
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-post-filter-company-tag"
                                title="select Company Tag"
                                id="setting_modal_post_filter_company_tag"
                                name="setting-modal-post-filter-company-tag"
                                tabindex="1"
                                placeholder="Company Tag"
                                autofocus=""></select>
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-post-filter-min-career"
                                title="select Minimum Career"
                                id="setting_modal_post_filter_min_career"
                                name="setting-modal-post-filter-min-career"
                                tabindex="1"
                                placeholder="Minimum Career"
                                autofocus="">
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_post_filter_min_career_all"
                                    value="0">All</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_post_filter_min_career_0"
                                    value="-1">newcomer</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_post_filter_min_career_1"
                                    value="1">1 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_post_filter_min_career_2"
                                    value="2">2 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_post_filter_min_career_3"
                                    value="3">3 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_post_filter_min_career_4"
                                    value="4">4 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_post_filter_min_career_5"
                                    value="5">5 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_post_filter_min_career_6"
                                    value="6">6 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_post_filter_min_career_7"
                                    value="7">7 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_post_filter_min_career_8"
                                    value="8">8 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_post_filter_min_career_9"
                                    value="9">9 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_post_filter_min_career_10"
                                    value="10">10 year ↑</option>
                        </select>
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-post-filter-country"
                                title="select Country"
                                id="setting_modal_post_filter_country"
                                name="setting-modal-post-filter-country"
                                tabindex="3"
                                placeholder="Country"
                                autofocus=""
                                disabled></select>
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-post-filter-region"
                                title="select Region"
                                id="setting_modal_post_filter_region"
                                name="setting-modal-post-filter-region"
                                tabindex="4"
                                placeholder="Region"
                                autofocus=""></select>
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-post-filter-detail-region"
                                title="select Detail Region"
                                id="setting_modal_post_filter_detail_region"
                                name="setting-modal-post-filter-detail-region"
                                tabindex="5"
                                placeholder="Detail-Region"
                                autofocus=""></select>
                    </div>
                </div>
            </div>
            <hr class="w-1/2 my-2">
            <div class="flex flex-col items-center justify-start my-6 lg:flex-row setting-modal-crawling-wrap"
                 id="setting_modal_crawling_wrap">
                <div class="w-[140px] pb-4 lg:pb-0 pr-4 mr-[calc(100%-144px)] lg:mr-0 font-semibold text-xl border-b text-[#eee6c4] lg:border-b-0 border-white crawling-label"
                     id="setting_modal_crawling_label">Crawling</div>
                <div class="flex w-full pt-4 whitespace-pre border-white lg:pl-4 lg:flex-1 lg:border-l lg:pt-0 crawling-data"
                     id="setting_modal_crawling_data">
                    <div class="grid flex-1 grid-cols-2 min-[800px]:grid-cols-3 gap-y-4 text-black setting-modal-crawling-select-wrap"
                         id="setting_modal_crawling_select_wrap">
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-crawling-filter-site"
                                title="select Site"
                                id="setting_modal_crawling_filter_site"
                                name="setting-modal-crawling-filter-site"
                                tabindex="1"
                                placeholder="Site"
                                autofocus=""
                                disabled></select>
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-crawling-filter-group"
                                title="select Group"
                                id="setting_modal_crawling_filter_group"
                                name="setting-modal-crawling-filter-group"
                                tabindex="1"
                                placeholder="Group"
                                autofocus=""></select>
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-crawling-filter-category"
                                title="select Category"
                                id="setting_modal_crawling_filter_category"
                                name="setting-modal-crawling-filter-category"
                                tabindex="2"
                                placeholder="Category"
                                autofocus=""></select>
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-crawling-filter-skill"
                                title="select Skill"
                                id="setting_modal_crawling_filter_skill"
                                name="setting-modal-crawling-filter-skill"
                                tabindex="1"
                                placeholder="SKill"
                                autofocus=""></select>
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-crawling-filter-company-tag"
                                title="select Company Tag"
                                id="setting_modal_crawling_filter_company_tag"
                                name="setting-modal-crawling-filter-company-tag"
                                tabindex="1"
                                placeholder="Company Tag"
                                autofocus=""></select>
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-crawling-filter-min-career"
                                title="select Minimum Career"
                                id="setting_modal_crawling_filter_min_career"
                                name="setting-modal-crawling-filter-min-career"
                                tabindex="1"
                                placeholder="Minimum Career"
                                autofocus="">
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_crawling_filter_min_career_all"
                                    value="0">All</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_crawling_filter_min_career_0"
                                    value="-1">newcomer</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_crawling_filter_min_career_1"
                                    value="1">1 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_crawling_filter_min_career_2"
                                    value="2">2 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_crawling_filter_min_career_3"
                                    value="3">3 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_crawling_filter_min_career_4"
                                    value="4">4 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_crawling_filter_min_career_5"
                                    value="5">5 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_crawling_filter_min_career_6"
                                    value="6">6 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_crawling_filter_min_career_7"
                                    value="7">7 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_crawling_filter_min_career_8"
                                    value="8">8 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_crawling_filter_min_career_9"
                                    value="9">9 year ↑</option>
                            <option class="text-[#373737] select-option"
                                    id="setting_modal_crawling_filter_min_career_10"
                                    value="10">10 year ↑</option>
                        </select>
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-crawling-filter-country"
                                title="select Country"
                                id="setting_modal_crawling_filter_country"
                                name="setting-modal-crawling-filter-country"
                                tabindex="3"
                                placeholder="Country"
                                autofocus=""
                                disabled></select>
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-crawling-filter-region"
                                title="select Region"
                                id="setting_modal_crawling_filter_region"
                                name="setting-modal-crawling-filter-region"
                                tabindex="4"
                                placeholder="Region"
                                autofocus=""></select>
                        <select class="py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md setting-modal-crawling-filter-detail-region"
                                title="select Detail Region"
                                id="setting_modal_crawling_filter_detail_region"
                                name="setting-modal-crawling-filter-detail-region"
                                tabindex="5"
                                placeholder="Detail-Region"
                                autofocus=""></select>
                    </div>
                </div>
            </div>
            <hr class="w-1/2 my-2">
            <div class="flex flex-col items-center justify-start my-6 lg:flex-row setting-modal-manage-wrap"
                 id="setting_modal_manage_wrap">
                <div class="w-[140px] pb-4 lg:pb-0 pr-4 mr-[calc(100%-144px)] lg:mr-0 font-semibold text-xl border-b text-[#eee6c4] lg:border-b-0 border-white manage-label"
                     id="setting_modal_manage_label">Manage</div>
                <div class="w-full pt-4 pl-4 font-semibold whitespace-pre border-white lg:flex-1 lg:border-l lg:pt-0 manage-data"
                     id="setting_modal_manage_data"></div>
            </div>
        </div>
    </div>
</section>
