{% load static %}
<div class="post-wrap" id="post_wrap">
    <div class="flex flex-col items-start justify-between my-2 post-title-wrap">
        <div class="self-center hidden text-sm text-[red] post-make-options-error"></div>
        <form class="flex w-full job-form post-form" id="post_form">
            <div class="flex-1 post-btn-wrap">
                <div class="grid w-full grid-cols-1 sm:grid-cols-3 post-select-box-wrap">
                    <div class="flex w-full col-span-1 p-1 my-1 post-filter-1-wrap">
                        <select class="w-full py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md post-filter-site"
                                title="select Site"
                                id="post_filter_site"
                                name="post-filter-site"
                                tabindex="1"
                                placeholder="Site"
                                autofocus=""
                                disabled></select>
                    </div>
                    <div class="flex w-full p-1 my-1 sm:col-span-2 post-filter-2-wrap">
                        <select class="w-1/2 py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md post-filter-group"
                                title="select Group"
                                id="post_filter_group"
                                name="post-filter-group"
                                tabindex="1"
                                placeholder="Group"
                                autofocus=""></select>
                        <select class="w-1/2 py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md post-filter-category"
                                title="select Category"
                                id="post_filter_category"
                                name="post-filter-category"
                                tabindex="2"
                                placeholder="Category"
                                autofocus=""></select>
                    </div>
                    <div class="flex w-full p-1 my-1 sm:col-span-3 post-filter-3-wrap">
                        <select class="w-1/3 py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md post-filter-skill"
                                title="select Skill"
                                id="post_filter_skill"
                                name="post-filter-skill"
                                tabindex="1"
                                placeholder="SKill"
                                autofocus=""></select>
                        <select class="w-1/3 py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md post-filter-company-tag"
                                title="select Company Tag"
                                id="post_filter_company_tag"
                                name="post-filter-company-tag"
                                tabindex="1"
                                placeholder="Company Tag"
                                autofocus=""></select>
                        <select class="w-1/3 py-1 mx-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md post-filter-min-career"
                                title="select Minimum Career"
                                id="post_filter_min_career"
                                name="post-filter-min-career"
                                tabindex="1"
                                placeholder="Minimum Career"
                                autofocus="">
                            <option class="select-option" id="post_filter_min_career_all" value="0">All</option>
                            <option class="select-option" id="post_filter_min_career_0" value="-1">newcomer</option>
                            {% for _ in "x"|rjust:10 %}
                                <option class="text-[#373737] select-option"
                                        id="setting_modal_crawling_filter_min_career_{{ forloop.counter }}"
                                        value="{{ forloop.counter }}">{{ forloop.counter }} year ↑</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="grid w-full grid-cols-2 p-1 my-1 gap-y-4 gap-x-6 sm:col-span-3 filter-4-wrap">
                        <select class="w-[calc(100%-12px)] py-1 ml-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md post-filter-country"
                                title="select Country"
                                id="post_filter_country"
                                name="post-filter-country"
                                tabindex="3"
                                placeholder="Country"
                                autofocus=""
                                disabled></select>
                        <select class="w-[calc(100%-12px)] py-1 mr-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md post-filter-region"
                                title="select Region"
                                id="post_filter_region"
                                name="post-filter-region"
                                tabindex="4"
                                placeholder="Region"
                                autofocus=""></select>
                        <select class="w-[calc(100%-12px)] py-1 ml-3 border-b border-[#d9d9d9] outline-none scrollbar-thin scrollbar-thumb-black scrollbar-thumb-rounded-md post-filter-detail-region"
                                title="select Detail Region"
                                id="post_filter_detail_region"
                                name="post-filter-detail-region"
                                tabindex="5"
                                placeholder="Detail-Region"
                                autofocus=""></select>
                        <div class="w-[calc(100%-12px)] mr-3 my-1 flex items-center font-semibold cursor-pointer hover:text-white hover:border-none hover:bg-[#373737] justify-center border border-[#d9d9d9] text-sm post-search-btn"
                             id="post_search_btn">SEARCH</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="grid grid-cols-1 mt-5 mb-10 gap-y-4 md:gap-4 md:grid-cols-2 post-job-card-list"
         id="post_job_card_list"></div>
</div>
